<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        a{
            text-align:center;
            font-size:50px;
            position:absolute;
            left:45%;
            top:45%;
            transform:translateX(-50%);            
            transform:translateY(-50%);
            text-decoration: none;
            color:black;
        }
    </style>
</head>
<body>
    <a href="http://localhost:3000/board/list">다 킹찮은 것이야</a>
</body>
</html>