*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color:black;
}

ul,li{
    list-style: none;
}

#wrap{
    width:100%;
}


#center{
    width:1000px;
    height:500px;
    background:lightgray;
    margin: 0 auto;
    position:relative;
    padding-top:20px;
    box-sizing: border-box;
}

h2{
    text-align:center;
    margin-bottom:20px;
}
.write_btn{
    display:inline-block;
    padding: 7px 14px;
    width: 50px;
    text-align:center;
    border-radius:5px;
    background:gray;
    width:100px;
    height:30px;
    line-height:25px;
    position:absolute;
    right: 10px;
    bottom: 10px;
    font-size:20px;
}

.board{
    width:800px;
    margin: 0 auto;
}

.header>td{
    text-align:center;
    font-weight:bold;
    background:lightslategray;
    border:1px solid black;
}

tr>td{

    text-align:center;
    padding-left:30px;
    padding-right:30px;
    text-overflow: ellipsis;
}

table{
    margin: 0 auto;
    width:800px;
    height:257px;
}

a:visited{
    color:black;
}

#title{
    width:100px;
}

.list_index{
    width:800px;
    margin: 40px auto 0 auto;
    text-align:center;
}